#filter {

	border : 1px solid #e9e9e9;

	input {
		display : none;
	}
	
	label {
		font-size : 14px;
		display : block;
		float : left;
		width : 25%;
		padding-top : 7px;
		padding-bottom : 7px;
		cursor : pointer;
		user-select : none;
		background-color : #fcfcfc;
		&:active {
			color : #3498db;
			background-color : rgb(240, 240, 240);
		}
		// transition: all 0.125s linear;
	}
	
	input:checked + label {
		color : #3498db;
		background-color : rgb(240, 240, 240);
	}

}