#about {
	cursor : text;
	
	.details {
		border-top : 1px solid #e9e9e9;
		padding-bottom : 17px;
	}
}

.work-item {
	display : block;
	margin : 2.5%;
	width : 90%;
	float : left;
	overflow : hidden;
	cursor : pointer;
	text-decoration : none;
	
	.thumbnail {
		width : 100%;
		padding-bottom : 61.81%;
		background-repeat : no-repeat;
		background-size : cover;
		background-position : center;
		&:hover {
			opacity : .875;
		}
	}
	
	.details {
		border-right : 1px solid #e9e9e9;
		border-bottom : 1px solid #e9e9e9;
		border-left : 1px solid #e9e9e9;
		background-color : #fcfcfc;
		text-align : left;
		padding : 18px 16px 17px 16px;
	}
	
	.title {
		font-weight : 400;
	}
	
	.description {
		padding-top : 2px;
		text-transform : none;
		font-family : Raleway;
		font-size : 14px;
	}
	
	.date {
		padding-top : 2px;
		display : block;
		width : 100%;
		font-size : 14px;
		text-transform : none;
		color : rgb(136, 136, 136);
	}
	
	.share {
		float : right;
		color : #3498db;
	}
}

@media screen and (min-width : 601px) and (max-width : 900px) {
	.work-item {
		width : 46.25%;
		margin : 1.25%;
	}
}

@media screen and (min-width : 901px) {
	.work-item {
		width : 30%;
		margin : 1.25%;
	}
}