footer {
  display: block;
  width: 100%;
  padding: 44px 0px 43px 0px;
  text-align: center;
  border-top: 1px solid #e9e9e9; }
  footer a {
    padding: 0px 5px; }
  footer .copyright {
    margin-top: 9px;
    opacity: .25; }
