header {
  display: block;
  width: 100%;
  padding: 26px 13px 19px 13px;
  text-align: center;
  border-bottom: 1px solid #e9e9e9;
  background-color: #f5f5f5; }
  header h1 {
    font-weight: 500;
    font-size: 36px; }
  header h3 {
    font-size: 18px;
    margin-top: 10px;
    opacity: .5; }
