
	* {
		box-sizing : border-box;
		backface-visibility : none;
		appearance : none;
		text-size-adjust: 100%;
		-webkit-tap-highlight-color : transparent;
		&:not(i) {
			font-family : 'futura-pt';
			text-transform : uppercase;
			font-weight: 200;
			font-size : 16px;
			line-height : 24px;
			color : #000000;
		}
		&:focus {
			outline : 0
		}
		&::webkit-scrollbar {
			display : none
		}
	}
	
	main {
		text-align : center;
		width : 100%;
		max-width : 1200px;
		margin : 0px auto;
		overflow : hidden;
		padding : 0px;
	}
	
	.clearfix {
		&:before,
		&:after {
			content : '';
			display : table;
		}
		zoom : 1;
		&:after {
			clear : both;
		}
	}

	hr {
		display : block;
		width : 100%;
		height : 1px;
		margin : 0px;
		padding : 0px;
		border-width : 0px;
		background-color : #e9e9e9
	}