#links > div {
  padding-top: 8px; }
  #links > div:first-child {
    padding-top: 0px !important; }

#links a {
  display: block;
  float: left;
  text-decoration: none;
  font-size: 14px; }
  #links a:hover {
    opacity: .875; }

#links i {
  font-size: 19px; }

#linkedin, #github, #instagram {
  color: #ffffff; }

#gmail, #resume {
  width: 100%; }

#linkedin, #github, #instagram {
  width: 33.333%; }

#gmail {
  background-color: #dd4b39;
  padding-top: 8px;
  padding-bottom: 8px; }

#linkedin {
  background-color: #0e76a8;
  padding-top: 9px;
  padding-bottom: 7px; }

#github {
  background-color: #2a303f;
  padding-top: 10px;
  padding-bottom: 6px; }

#instagram {
  background-color: #ffc838;
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  padding-top: 10px;
  padding-bottom: 6px; }

#resume {
  background: #2F80ED;
  background: linear-gradient(to right, #56CCF2, #2F80ED);
  padding-top: 8px;
  padding-bottom: 8px; }
